body{
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FDFCFB;
  overflow-x: hidden;
}
/* Stijl voor het formulier */
form {
    width: 350px;
    margin: 200 auto;
    padding: 20px;
    border: 10px solid #ccc;
    border-radius: 111px;
    /* Dit zorgt voor ronde randen */
}

.ellipse44{
  position: absolute;
  width: 58.7%;
  height: 90.4%;
  left: -10%;
  top: -32.4%;
  background: #3FA85C;
  opacity: 0.5;
  display: flex;
  filter: blur(200px);
  border-radius: 1000px;
  }
  
  .ellipse45{
  position: absolute;
  width: 85.9%;
  height: 90.8%;
  left: 32.7%;
  top: 55%;
  background: #3FA85C;
  opacity: 0.34;
  filter: blur(200px);
  border-radius: 1000px;
  }
  
  .ellipse46{
  position: absolute;
  width: 52.9%;
  height: 48.8%;
  left: 1.4%;
  top: 34.4%;
  background: #A083E4;
  opacity: 0.5;
  filter: blur(200px);
  display: flex;
  border-radius: 1000px
  }
  
  .ellipse47{
  position: absolute;
  width: 62.9%;
  height: 110.1%;
  left: 63.4%;
  top: -22.4%;
  background: #A083E4;
  opacity: 0.34;
  border-radius: 1000px;
  filter: blur(200px);
  border-radius: 1000px;
  }

  .ellipse48{
  position: absolute;
  width: 47.7%;
  height: 71.2%;
  left: -8.9%;
  top: 71.1%;
  background: #3FA85C;
  opacity: 0.34;
  filter: blur(200px);
}

/* Stijl voor het formulier */
.login, .signup {
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 16px #ADADAD;
  width: 41.7%;
  height: 49%;
  margin: 7.9% 29.1%;
  padding: 40px 0 0 40px;
  background-color: #FDFCFB;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 24px; /* Dit zorgt voor ronde randen */
}

.plaatje{
  width: auto;
  border-radius: 13px;
  height: 80px;
  position: relative;
  display: flex;
  margin: 1px 0 0 43.6%;
  box-shadow: 0px 0px 16px #ADADAD;
}

/* Stijl voor de foutmeldingen */
.error {
  color: #BC3030;
}

form{
  padding: 0% 17.7% 0 11.3%;
}

p{
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #333333;
}

label{
  color: #333333;
  font-weight: 600;
  font-size: 16px;
}

/* Stijl voor de invoervelden */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 300px;
    /* Ook hier kun je ronde randen toevoegen */
    box-sizing: border-box;
}

/* Stijl voor de verzendknop */
input[type="submit"] {
  width: 100%;
  background-color: #333333;
  color: #FCFDFB;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
  margin: 64px 0;
  border: none;
  border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

input[type="submit"]:hover{
  background-color: #000000;
}

input[type="button"]{
  background-color: #FDFCFB;
  color: #333333;
  border: 2px solid #CDCDCD;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}



/*Styling voor de checkbox voor de 'Remember Me'*/
.container {
    display: block;
    position: relative;
    padding-left: 8px;
    width: 100%;
    background-color: #0a0a0a;
    color: white;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-radius: 300px;
    /* Ook hier kun je ronde randen toevoegen */
    cursor: pointer;
    font-weight: 400;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    opacity: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 2px solid #333333;
    border-radius: 4px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #3FA85C;
    border: 2px solid #3FA85C;
  }
    /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #FCFDFB;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
}
  
@media screen and (max-width: 360px) {
  body{
    background-color: #FDFCFB;
  }

  .ellipse46, .ellipse47{
    display: none;
  }

  .ellipse44{
    width: 300px;
    height: 300px;
    left: 60px;
    top: -100px;
    opacity: 0.24;
  }

  .ellipse45{
    overflow: hidden;
    width: 400px;
    height: 400px;
    left: -145px;
    top: 400px;
    opacity: 0.24;
  }

  /* Stijl voor het formulier */
  .login, .signup {
    z-index: 10;
    position: relative;
    box-shadow: 0px 0px 16px #adadad00;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 4.4%;
    background-color: #fdfcfb00;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px; /* Dit zorgt voor ronde randen */
  }
    
  .plaatje{
    margin: 64px 0 0 37.8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  form{
    padding: 0%;
    height: 800px;
  }
    
  p{
    text-align: center;
    margin: 49px 0;
    font-size: 40px;
    font-weight: 600;
    color: #333333;
  }
    
  label{
    color: #333333;
    font-weight: 600;
    font-size: 16px;
  }
    
  /* Stijl voor de invoervelden */
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    margin: 8px 0 16px 0;
    border: 1.5px solid #CDCDCD;
    border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
    box-sizing: border-box;
    }
    
  /* Stijl voor de verzendknop */
  input[type="submit"] {
    width: 100%;
    background-color: #333333;
    color: #FCFDFB;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0;
    margin: 50px 0;
    border: none;
    border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
    cursor: pointer;
    transition: ease-in-out 0.3s;
    }
    
  input[type="submit"]:hover{
    background-color: #000000;
  }
    
  input[type="button"]{
    background-color: #FDFCFB;
    color: #333333;
    border: 2px solid #CDCDCD;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
  }
    
}

.plaatje {

    border-radius: 200;
    width: auto;
    height: 200px;
    left: 20%;
    position: relative;
}

/* Stijl voor de foutmeldingen */
.error {
    color: red;
}
