body {
  font-family: Inter, sans-serif;
  background-color: #F3F0F0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}  

.plaatje {
  height: 200px;
  width: auto;
}

h1{
  color: #333333;
  font-size: 80px;
  font-weight: 600;
}


.logo-achtergrond{
  position: fixed;
  bottom: 0;
  background-color:#FCFDFB;
  box-shadow: 0px 0px 16px #ADADAD;
  border-radius: 24px 24px 0;
  width: 56.6%;
  height: 87.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 7.9% 21.6% 0%;
}


.ellipse44{
position: absolute;
width: 888px;
height: 860px;
left: -152px;
top: -319px;
background: #3FA85C;
opacity: 0.34;
filter: blur(100px);
display: flex;
}

.ellipse45{
position: absolute;
overflow: hidden;
width: 1040px;
height: 700px;
left: 38.5%;
top: 541px;
background: #3FA85C;
opacity: 0.34;
filter: blur(100px);
display: flex;
}

.ellipse46{
position: absolute;
width: 450px;
height: 435.81px;
left: 124px;
top: 320px;
background: #A083E4;
opacity: 0.34;
filter: blur(100px);
display: flex
}

.ellipse47{
position: absolute;
width: 400px;
height: 387.39px;
left: 80%;
top: 464px;
background: #1685F4;
opacity: 0.34;
filter: blur(100px);
display: flex;
}

.container{
  width: 47.6%;
}


/* Set a style for all buttons */
.btn-main {
    font-family: Inter, sans-serif;
    display: block;
    background-color: #333333;
    color: #FDFCFB;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    cursor: pointer; 
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    transition: ease-in-out 0.3s;
  }

button:hover, .btn-main:hover {
  background-color: #000000;
}

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 360px) {
  
h1{
  color: #333333;
  font-size: 40px;
  font-weight: 600;
}


.logo-achtergrond{
  position:relative;
  bottom: 8.5%;
  border-radius: 24px;
  width: 328px;
  height: 664px;
  margin: 20% 4.4%;
}


.ellipse44{
width: 300px;
height: 300px;
left: -75px;
top: -56px;
opacity: 0.34;
}

.ellipse45{
width: 400px;
height: 400px;
left: 38.5%;
top: 515px;
opacity: 0.34;
}

.ellipse46, .ellipse47{
display: none;
}


.container{
  width: 48.7%;
}
  
.btn-main {
  font-family: Inter, sans-serif;
  display: block;
  background-color: #333333;
  color: #FDFCFB;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  cursor: pointer; 
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

button:hover, .btn-main:hover {
background-color: #000000;
}
    }