 body{
    margin: 0;
    font-family: Inter, sans-serif;
 }
 
 /* Stijl voor het formulier */
 form {
    width: 360px;
    height: 800px;
    padding: 20px;
    border: 2px solid #E6E6E6;
    border-radius: 40px; /* Dit zorgt voor ronde randen */
}

/* Stijl voor de invoervelden */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 300px; /* Ook hier kun je ronde randen toevoegen */
    box-sizing: border-box;
}

/* Stijl voor de verzendknop */
input[type="submit"] {
    width: 100%;
    background-color: #0a0a0a;
    color: white;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-radius: 300px; /* Ook hier kun je ronde randen toevoegen */
    cursor: pointer;
}

.plaatje{
    width: auto;
    border-radius: 13px;
    height: 80px;
    position: relative;
    display: flex;
    margin: 100px 140px 40px 140px;
    box-shadow: 0px 0px 16px #ADADAD;
}

/* Stijl voor de foutmeldingen */
.error {
    color: red;
}
p{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #333333;
}